In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import pickle

In [4]:
with open('nyc_data.p', 'rb') as f:
    df = pickle.load(f)

In [5]:
df

,geometry,median,mean,pop,eligible
zip,,,,,
10065,"POLYGON ((-73.97210 40.76552, -73.97165 40.766...",108154.9505,191673.5228,31500,0
10075,"POLYGON ((-73.96469 40.77568, -73.96423 40.776...",112267.5519,188422.4971,25187,0
10128,"MULTIPOLYGON (((-73.93951 40.77922, -73.93957 ...",105186.9788,180473.0702,59434,0
10280,"POLYGON ((-74.01960 40.70564, -74.01955 40.706...",98937.8355,138990.0141,4298,0
10301,"MULTIPOLYGON (((-74.09460 40.61219, -74.09442 ...",56776.4674,75009.8666,38618,1
...,...,...,...,...,...
11432,"POLYGON ((-73.81184 40.71787, -73.81177 40.717...",50291.2065,64694.3772,54915,1
11433,"POLYGON ((-73.80396 40.70105, -73.80348 40.701...",41780.0631,54771.0096,28391,1
11434,"POLYGON ((-73.80216 40.66525, -73.80183 40.665...",51640.5104,59039.1065,52603,1
11435,"POLYGON ((-73.82569 40.71607, -73.82557 40.716...",44721.7965,52869.8387,47317,1
11436,"POLYGON ((-73.80570 40.68295, -73.80519 40.683...",62297.1561,69595.4619,18291,0